$color-header-hover: violet;
$color-header-text: white;
$color-header-background: black;

$color-portada-text: black;
$color-portada: black;

$color-secciones-background: rgba(0, 0, 0, 0.2);
$color-secciones-text:  #ffff;
$color-secciones-text-hover:hsl(316, 100%, 93%);

$color-productos-titulo: black;
$color-productos-titulo-shadow: violet;
$color-productos-card-text: black; 

$color-footer-text: white;
$color-footer-backgroun: #2c2c2c;

