/* variable */

$color-header-hover: violet;
$color-header-text: white;
$color-header-background: black;

$color-portada-text:black;
$color-portada: black;


$color-footer-text: white;
$color-footer-backgroun: #2c2c2c;

