$header-font-size: 30px;
$header-line-height: 50px;
$header-height: 50px;
$header-font: 'Lobster';


$footer-font: sans-serif;
$footer-font-size: 20px;
$footer-height: 30px;

$portada-font: 'Yellowtail', cursive;
$portada-titulo-size: 30px;
$portada-parrafo-size: 20px;

$secciones-font: 'Yellowtail', cursive;
$secciones-font-size: 40px;

$productos-titulo-font: 'Lobster', cursiva;
$productos-titulo-size: 50px;
$productos-card-font: 'castoro';
$productos-card-size: 16px;

