<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--seo-->

    <meta name="description" content="Venta de accesorios (aros, collares, anillos y pulseras)">
    <meta name="keywords" content="aros, collares, anillos, pulseras, tienda de ropa, accesorios para usar en verano">
    <meta name="author" content="Maximiliano Caprioglio">

    <!--open graph-->

    <meta property="og:locale" content="es ES">
    <meta property="og:type" content="website" >
    <meta property="og:title" content="Los mejores Accesorios Delirium Tremens" >
    <meta property="og:description" content="Son accesorios elabarodos y seleccionados para darte ese detalle Delirium que te hace falta" >
    <!--aun falta tener los dominios

    <meta property="og:url" content="https://deliriumtremens.com.ar">
    <meta property="og:imagen" content="https://deliriumtremens.com.ar/assets/imagen/logo2.jpg"> 

    -->

    <!-- titulo -->

    <title>Delirium Tremens Accesorios - Pulseras</title>
    
    <link rel="stylesheet" href="../assets/css/Style.css">
    <!--google font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Castoro&display=swap" rel="stylesheet">

    <!--favicom logo chiquito en barra-->

    <link rel="shortcut icon" href="../assets/imagen/estrura/favicon.ico" type="image/x-icon">

</head>
<body>
    <header>
      <nav class="contenedor-header">
        <img src="../assets/imagen/estrura/logo2.png" alt="Nuestro gran logo">
        <ul class="contenedor-header-menu">
          <li class="titulos-item"><a href="../index.html#inicio">Inicio</a></li>
          <li class="titulos-item"><a href="../index.html#produc">Productos</a>
                <ul class="subcontenedor-header-menu">
                  <li><a href="../views/anillos.html">Anillos</a></li>
                  <li><a href="../views/aros.html">Aros</a></li>
                  <li><a href="../views/collares.html">Collares</a></li>
                  <li><a href="../views/pulseras.html">Pulseras</a></li>
                  <li><a href="../views/lifestyle.html">Lifestyle</a></li>
                </ul>
            </li>
            <li class="titulos-item"><a href="../views/contacto.html">Contacto</a></li>
          </ul>
      </nav>
  </header>

  <!-- seccion de _pulseras -->
  <section>
    <div class="titulo-producto">Pulseras</div>
    <div class="contenedor-productos">
      <div class="card contenedor-card"> 
        <img src="../assets/imagen/Productos/pulseras/Pulsera-Brazalete_Turquesa.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Modelo: 1</h5>
          <p class="card-text">Precio: x</p>
          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div>
      </div>
      <div class="card contenedor-card"> 
        <img src="../assets/imagen/Productos/pulseras/Pulsera_de_Ambar.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Modelo: 2</h5>
          <p class="card-text">Precio: x</p>
          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div>
      </div>
      <div class="card contenedor-card"> 
        <img src="../assets/imagen/Productos/pulseras/pulsera_piedras.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Modelo: 3</h5>
          <p class="card-text">Precio: x</p>
          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div>
      </div>
      <div class="card contenedor-card"> 
        <img src="../assets/imagen/Productos/pulseras/Pulsera_Turmalina.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Modelo: 4</h5>
          <p class="card-text">Precio: x</p>
          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div>
      </div>
    </div>
  </section>
  <!-- fin seccion de _pulseras -->

  <footer>
    <div class="contenedor">
      <span>©2020 Copyright</span>
      <div class="contenedor-contactos">
        <a href="https://www.instagram.com/" target="_blank"><img src="../assets/imagen/inst.png" alt="La imagen del logo de instagram nos lleva a instagram"></a>
        <a href="contacto.html" target="_blank"><img src="../assets/imagen/mail.png" alt="la imagen del logo del mail nos lleva al mail"></a>
      </div>
    </div>
  </footer>
</body>
</html>
