.fondo {
    height: 750px;
    margin-top: 50px;
    background-image: url(../imagen/contacto/arena-playa.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
    form {
        width: 450px;
        margin-right: auto;
        margin-left: auto;
        background: rgba(0,0,0,0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 7px;
        h2 {
            color: #fff;
            text-align: center;
            margin: 0;
            font-size: 24px;
            margin-bottom: 10px;
        }
    } 
input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
}
textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton {
    background: #31384a;
    color: #fff;
    padding: 17px;
}
#boton:hover {
    cursor: pointer;
}
@media (max-width:480px) {
    form {
        width: 100%;
    }
}