  /*footer*/
footer {
  width: 100%;
  height: 30px;
  background-color: #2c2c2c;
  bottom: 0;
  position: fixed;
  font-family: sans-serif;
  color: white;
  .contenedor {
    display: flex;
    position: relative;
    justify-content: space-around;
    .contenedor-contactos {
      width: 20%;
      display: flex;
      position: relative;
      justify-content: space-around;
      align-self: center;
      img {
        margin-top: 3px;
        width: 1.5em;
      }
    }
  }
}
/*-- Animacion pranter --*/
.pronter {
  display: flex;
  width: 260px;
  height: 28px;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
 }

@keyframes logo_moverse1 {
0% {  transform: translateY(30px);}
1% {  transform: translateY(30px);}
5% {  transform: translateY(0px); }
20% { transform: translateY(0px); }
24% { transform: translateY(-30px);}
100% {transform: translateY(-30px);}
}
@keyframes logo_moverse2 {
0% {  transform: translateY(30px);}
26% { transform: translateY(30px);}
30% { transform: translateY(0px); }
45% { transform: translateY(0px); }
49% { transform: translateY(-30px);}
100% {transform: translateY(-30px);}
}
@keyframes logo_moverse3 {
0% {  transform: translateY(30px);}
51% { transform: translateY(30px);}
55% { transform: translateY(0px); }
70% { transform: translateY(0px); }
74% { transform: translateY(-30px);}
100% {transform: translateY(-30px);}
}
@keyframes logo_moverse4 {
0% {  transform: translateY(30px);}
76% { transform: translateY(30px);}
80% { transform: translateY(0px); }
95% { transform: translateY(0px); }
99% { transform: translateY(-30px);}
100% {transform: translateY(-30px);}
}
.pronter-primero {
  position: absolute;
  animation-name: logo_moverse1;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  animation-delay: 0s;
}
.pronter-segundo {
  position: absolute;
  animation-name: logo_moverse2;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  animation-delay: 0s;
}
.pronter-tercero {
  position: absolute;
  animation-name: logo_moverse3;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  animation-delay: 0s;
}
.pronter-cuarto {
  position: absolute;
  animation-name: logo_moverse4;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  animation-delay: 0s;
}

.link {
  text-decoration: none;
  color: white;

}