/* header */
.contenedor-header {
    background-color: $color-header-background;
    display: flex;
    width: 100%;
    height: $header-height;
    top: 0;
    position: fixed;
    z-index: 2;
    font-size: $header-font-size;
    color: $color-header-text;    
    img {
        float: left;
        max-block-size: 40px;
        margin: 5px
    }
}    
.contenedor-header-menu {     
    width: 100%;
    font-family: $header-font; 
    text-align: right;       
    align-self: center;
    .titulos-item {
       position: relative;
       display: inline-block;
       margin: 0px 10px;
        a {
            text-decoration: none;
            color: $color-header-text;
                &:hover {
                    color: $color-header-hover;
                }
        }
    }
}

.subcontenedor-header-menu {
    display: none;
    list-style: none;
    
    a {       
        margin-left: 10px;
        margin-right: 15px;
        line-height: $header-line-height;
        }
}

.contenedor-header-menu li:hover .subcontenedor-header-menu {
    display: flex;  
    position: absolute;
    flex-direction: column;
    background-color: $color-header-background;
    text-align: left; 
    margin-top: -1px;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px;    
}
/* media query header */
@media (max-width: 320px) {
    .contenedor-header {
      font-size: 16px;
        }
    }
  @media (min-width: 320px) and (max-width: 420px) {
    .contenedor-header {
      font-size: 20px;
    }
}
