.contenedor-header {
    background-color: black;
    display: flex;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
    img {
        float: left;
        max-block-size: 40px;
        margin: 5px
    }
}
    
.contenedor-header-menu { 
    width: 100%;
    font-family: 'Lobster'; 
    text-align: right;
    line-height: 50px;


   
    .titulos-item {
       position: relative;
       display: inline-block;

       
       margin: 0px 10px;
        a {
            text-decoration: none;
            color: white;
            font-size: 20px;
                &:hover {
                    color: coral;
                }
        }
    }
}

.subcontenedor-header-menu {
   display: none;

  list-style: none;
  line-height: 30px;
       a {       
         margin-left: 10px;
          margin-right: 15px;
    }
}

.contenedor-header-menu li:hover .subcontenedor-header-menu {
    display: flex;  
    position: absolute;
    flex-direction: column;
    background-color: black;
    text-align: left;
    margin-top: -1px;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px;    
}

    /* animacion 
    @keyframes logo_moverse {
        0% { transform: rotateZ(0deg);}
        25% { transform: rotateZ(5deg);}
        50% {transform: rotateZ(0deg);}
        75% { transform: rotateZ(-5deg);}
        100% {transform: rotateZ(0deg);}
    }
    .animacion {
        animation-name: logo_moverse;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-delay: 0s;
    }
*/