.contenedor-header {
    background-color: $color-header-background;
    display: flex;
    width: 100%;
    height: 50px;
    top: 0;
    position: fixed;
    z-index: 2;
    font-size: 17px;
    color: $color-header-text;
    
    img {
        float: left;
        max-block-size: 40px;
        margin: 5px
    }
}
    
.contenedor-header-menu { 
    
    width: 100%;
    font-family: 'Lobster'; 
    text-align: right;
    line-height: 50px;
   .titulos-item {
       position: relative;
       display: inline-block;
       margin: 0px 10px;
        a {
            text-decoration: none;
            color: $color-header-text;
            font-size: 20px;
                &:hover {
                    color: $color-header-hover;
                }
        }
    }
}

.subcontenedor-header-menu {
   display: none;

  list-style: none;
  line-height: 30px ;
       a {       
         margin-left: 10px;
          margin-right: 15px;
    }
}

.contenedor-header-menu li:hover .subcontenedor-header-menu {
    display: flex;  
    position: absolute;
    flex-direction: column;
    background-color: $color-header-background;
    text-align: left; 
    margin-top: -2px;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px;    
}
