.portada {
    padding: 60px 30px 10px 30px;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family:  'Yellowtail', cursive;
    h1 {
        
        font-size: 30px;
    }
    p {
        margin: 10px 20px;
    }

}

.carrusel-portada {
    padding: 0px 20%;
}
