/* titulo y card de cada produto */

.titulo-producto {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: $productos-titulo-font;
  margin-top: $header-height;
  font-size: $productos-titulo-size;
  color: $color-productos-titulo;
  text-shadow: 1px 2px $color-productos-titulo-shadow;
}

.contenedor-productos {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 0px;
  font-family: $productos-card-font;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin-bottom: 20px;
  background-color: white;
  width: 300px;
  height: 380px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  flex-direction: column;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  text-align: center;
  color: $color-productos-card-text;
  font-size: $productos-card-size;
  padding: 5px 16px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
