   
.titulo-producto {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursiva;
    padding-top: 50px;
    font-size: 50px;
    text-shadow: 1px 2px violet;
}
.contenedor-productos {
    width: 100%;
    margin-bottom: 30px;
    font-family: 'castoro';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .contenedor-card {

        width: 250px;
        padding: 5px;
        margin: 5px 5px;
    }
}

/* hacer que se vea la foto en grande */


   /* tranformacion 
    
    .ep:hover img {
        transform: scale(1.2);
    }
  */
    