
.estructura {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 20px 10px 20px;

    
    .contenedor-prod {
        border-radius: 6px;
        margin: 20px;
        overflow: hidden;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
        
    

    .caja-estructura {
        height: 180px;
        width: 180px;
        display: block;
        

       
        
        img { 
            width: 100%;
            height: 100%;  
            transition: all 500ms ease-out;
            z-index: 0;

        
                }
            .filtro-texto  { 
                position: absolute;
                top: 0;
                background: gray;
                transition: all 500ms ease-out;
                opacity: 0;
                visibility: hidden;
                  p {
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 15px;
  }           
                }
                
        }
    }
    }
    .caja-estructura:hover > .capa {
        opacity: 1;
        visibility: visible; }
    
    

