
.estructura {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;    
    padding: 50px 20px 10px 20px;    
    .contenedor-prod {
        border-radius: 8px;
        height: 180px;
        width: 180px;
        margin: 0px 20px 20px 20px;
        overflow: hidden;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
        .caja-estructura {
            width: 100%;
            height: 100%;
            position: relative;
            display: inline-block; 
            img { 
                position: absolute; 
                width: 100%;
                height: 100%;
            }
            .filtro-texto {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color:rgba(0, 0, 0, 0.2);
                p {display: block;
                position: absolute;
                width: 100%;
                text-align: center;
                top: 70px;
                text-shadow:
                    0 0 5px rgba(0,178,255,1),
                    0 0 10px rgba(0,178,255,1),
                    0 0 20px rgba(0,178,255,1),
                    0 0 40px rgba(38,104,127,1),
                    0 0 80px rgba(38,104,127,1),
                    0 0 90px rgba(38,104,127,1),
                    0 0 100px rgba(38,104,127,1),
                    0 0 140px rgba(38,104,127,1),
                    0 0 180px rgba(38,104,127,1);
                font-family: 'Yellowtail', cursive;
                color: #ffff;
                font-size: 24px;
                }  
            }
            &:hover p {
                color: hsl(316, 100%, 93%);
            }
        }
    }
}

    

