
.estructura {
    display: flex;
    justify-content: center;
    padding-right: 30px;
    flex-wrap: wrap;
    padding-top: 65px;
    margin-bottom: 90px; 
    figure {
        display: flex;
        position: relative;
        justify-content: center;
        height: 170px;
        width: 240px;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.5); }
        .contenedor-producto {
            border:  1px solid black;
            width: 200px;
            height: 250px;
            padding: 5px;
            margin: 20px;
            display: block;
            position: relative;
            overflow: hidden;  
            img {      
                width: 100%;
                height: 100%;
                transition: all 500ms ease-out;}
            .filtro-texto { 
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(253, 250, 105, 0.5);
                transition: all 500ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;
                font-family: 'Julius Sans One', sans-serif;
                font-size: 15px; }
        }
    
    }
}
