
.estructura {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;

    .contenedor-producto {
        border:  1px solid black;
        width: 200px;
        height: 250px;
        padding: 5px;
        margin: 20px;
        display: block;
        position: relative;
        overflow: hidden;  

            img {      
              width: 100%;
              height: 100%;
              color: 20% black;
            }

            p { 
                display: block;
                position: absolute;
                z-index: 1;
       /* no se porque no esta visible */
        }
    }
}
