
.estructura {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 20px 10px 20px;

    
    .contenedor-prod {
        display: flex;
        position: relative;
        justify-content: center;
       
        border-radius: 6px;
        margin: 20px;
        overflow: hidden;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
        
    

    .caja-estructura {
        height: 180px;
        width: 180px;
       
        
        img { 
            width: 100%;
            height: 100%;     

        
                }
            .filtro-texto { 
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: black;
                visibility: hidden;
                text-align: center;
                font-family: 'Lobster', sans-serif;
                font-size: 26px; 
                }
        }
    }
    }
    
    

