* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
 body {
    background-image: url(../imagen/portada/seccion-productos/arena-playa.png); 
}

@import "base/color";
@import "base/font";
@import "componentes/portada";
@import "componentes/secciones";
@import "componentes/productos";
@import "componentes/footer";
@import "componentes/contacto";
@import "componentes/header";


 


 

