* {margin: 0;
padding: 0;
box-sizing: border-box;
}

/*header*/
.menu {
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    position: fixed;
    z-index: 2;
}
.menu img {
    max-block-size: 80%;
    margin-left: 10px
}
/* animacion */
@keyframes logo_moverse {
    0% { transform: rotateZ(0deg);}
    25% { transform: rotateZ(5deg);}
    50% {transform: rotateZ(0deg);}
    75% { transform: rotateZ(-5deg);}
    100% {transform: rotateZ(0deg);}
}
.animacion {
    animation-name: logo_moverse;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 0s;
}

.grupo { 
    font-family: 'Lobster'; 
    justify-content: space-around;  
}

.grupo li {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

.grupo li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}
/* cambio de color */
.grupo li a:hover {
    color: coral;
}
.subgrupo {
    display: none;
}
.subgrupo li a {
    margin-left: 5px;
}

.grupo li:hover .subgrupo {
    display: flex;  
    position: absolute;
    flex-direction: column;
    background-color: black;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px;    
}

/*seccion inicio*/

.inicio {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;

}

/*seccion productos*/

.titulo-producto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;

    font-family: 'Lobster', cursiva;
    font-size: 50px;
    font: bold;

}
.conteiner-productos {
    width: 100%;
    font-family: 'castoro';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* tranformacion 

.ep:hover img {
    transform: scale(1.2);
}
no se como hacer para que se agrande solo dentro del cuadro de la imagen*/

/*footer*/

footer {
  /*  background-image: linear-gradient(to top right,#373B44 ,#4286f4  ); gradiante de tp*/
    background-color: slategrey;
    font-family: sans-serif;
    color: white;
}
.contenedor {
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.contenedor img {
    width: 1.5em;
}
.ct {
    display: flex;
    justify-content: right;
}
.contenedor a {
    margin-left: 3px;
    margin-right: 10px;
    text-decoration: none;
    color: white; 
}
.inst, .mail  {
    display: flex;
    align-items: center;
}