* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* importaciones */
/* variable */
.portada {
  padding: 60px 30px 10px 30px;
  width: auto;
  justify-content: center;
  text-align: center;
  font-family: 'Yellowtail', cursive;
  color: black; }
  .portada h1 {
    font-size: 30px; }
  .portada p {
    font-size: 20px;
    margin: 10px 20px; }

.correccion {
  padding-top: 24px; }

.carousel {
  padding: 0;
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px; }

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%; }

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100; }

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out; }

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%; }

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 1; }

.carousel-control.prev {
  left: 2%; }

.carousel-control.next {
  right: 2%; }

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa; }

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block; }

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1; }

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px; }

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px; }

.carousel-bullet:hover {
  color: #aaaaaa; }

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca; }

.estructura {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px 20px 30px 20px; }
  .estructura .contenedor-prod {
    border-radius: 8px;
    height: 180px;
    width: 180px;
    margin: 0px 20px 20px 20px;
    overflow: hidden;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5); }
    .estructura .contenedor-prod .caja-estructura {
      width: 100%;
      height: 100%;
      position: relative;
      display: inline-block; }
      .estructura .contenedor-prod .caja-estructura img {
        position: absolute;
        width: 100%;
        height: 100%; }
      .estructura .contenedor-prod .caja-estructura .filtro-texto {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.2); }
        .estructura .contenedor-prod .caja-estructura .filtro-texto p {
          display: block;
          position: absolute;
          width: 100%;
          text-align: center;
          top: 70px;
          text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f;
          font-family: 'Yellowtail', cursive;
          color: #ffff;
          font-size: 24px; }
      .estructura .contenedor-prod .caja-estructura:hover p {
        color: #ffdbf5; }

.titulo-producto {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Lobster', cursiva;
  padding-top: 50px;
  font-size: 50px;
  color: black;
  text-shadow: 1px 2px violet; }

.contenedor-productos {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
  font-family: 'castoro';
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.card {
  margin-bottom: 20px;
  width: 302px;
  height: 380px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  flex-direction: column; }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.container {
  text-align: center;
  color: black;
  padding: 5px 16px; }

.flip-card {
  background-color: transparent;
  width: 302px;
  height: 302px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; }

.flip-card-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.flip-card-back {
  transform: rotateY(180deg); }

/*footer*/
footer {
  width: 100%;
  height: 30px;
  background-color: #2c2c2c;
  bottom: 0;
  position: fixed;
  font-family: sans-serif;
  color: white; }
  footer .contenedor {
    display: flex;
    position: relative;
    justify-content: space-around; }
    footer .contenedor .contenedor-contactos {
      width: 20%;
      display: flex;
      position: relative;
      justify-content: space-around;
      align-self: center; }
      footer .contenedor .contenedor-contactos img {
        margin-top: 3px;
        width: 1.5em; }

/*-- Animacion pranter --*/
.pronter {
  display: flex;
  width: 260px;
  height: 28px;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden; }

@keyframes logo_moverse1 {
  0% {
    transform: translateY(30px); }
  1% {
    transform: translateY(30px); }
  5% {
    transform: translateY(0px); }
  20% {
    transform: translateY(0px); }
  24% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(-30px); } }

@keyframes logo_moverse2 {
  0% {
    transform: translateY(30px); }
  26% {
    transform: translateY(30px); }
  30% {
    transform: translateY(0px); }
  45% {
    transform: translateY(0px); }
  49% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(-30px); } }

@keyframes logo_moverse3 {
  0% {
    transform: translateY(30px); }
  51% {
    transform: translateY(30px); }
  55% {
    transform: translateY(0px); }
  70% {
    transform: translateY(0px); }
  74% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(-30px); } }

@keyframes logo_moverse4 {
  0% {
    transform: translateY(30px); }
  76% {
    transform: translateY(30px); }
  80% {
    transform: translateY(0px); }
  95% {
    transform: translateY(0px); }
  99% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(-30px); } }

.pronter-primero {
  position: absolute;
  animation-name: logo_moverse1;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  animation-delay: 0s; }

.pronter-segundo {
  position: absolute;
  animation-name: logo_moverse2;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  animation-delay: 0s; }

.pronter-tercero {
  position: absolute;
  animation-name: logo_moverse3;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  animation-delay: 0s; }

.pronter-cuarto {
  position: absolute;
  animation-name: logo_moverse4;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  animation-delay: 0s; }

.link {
  text-decoration: none;
  color: white; }

.fondo {
  height: 750px;
  margin-top: 50px;
  background-image: url(../imagen/contacto/arena-playa.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed; }

form {
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 7px; }
  form h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 14px;
  border: none; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#boton {
  background: #31384a;
  color: #fff;
  padding: 17px; }

#boton:hover {
  cursor: pointer; }

@media (max-width: 480px) {
  form {
    width: 100%; } }

.contenedor-header {
  background-color: black;
  display: flex;
  width: 100%;
  height: 50px;
  top: 0;
  position: fixed;
  z-index: 2;
  font-size: 17px;
  color: white; }
  .contenedor-header img {
    float: left;
    max-block-size: 40px;
    margin: 5px; }

.contenedor-header-menu {
  width: 100%;
  font-family: 'Lobster';
  text-align: right;
  line-height: 50px; }
  .contenedor-header-menu .titulos-item {
    position: relative;
    display: inline-block;
    margin: 0px 10px; }
    .contenedor-header-menu .titulos-item a {
      text-decoration: none;
      color: white;
      font-size: 20px; }
      .contenedor-header-menu .titulos-item a:hover {
        color: violet; }

.subcontenedor-header-menu {
  display: none;
  list-style: none;
  line-height: 30px; }
  .subcontenedor-header-menu a {
    margin-left: 10px;
    margin-right: 15px; }

.contenedor-header-menu li:hover .subcontenedor-header-menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: black;
  text-align: left;
  margin-top: -2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
